#homework-write-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.05);
}

.homework-write-container {
    padding: 100px 24px;
    width: 75%;
    min-height: 900px;
    background-color: white;
}

.homework-write-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.homework-write-title-box {
    width: 100%;
    justify-content: center;
}

.homework-write-title-textarea {
    width: 100%;

    border: none;
    outline: none;
    background: none;
    resize: none;
    color: black;

    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
}

.homework-write-content-box {
    width: 100%;
    display: flex;
    gap: 16px;
}

.homework-write-content-textarea {
    flex: 1;

    border: none;
    outline: none;
    background: none;
    resize: none;

    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.homework-write-images-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homework-write-image-box {
    width: 100%;
    position: relative;
}

.homework-write-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.image-close {
    position: absolute;
    top: 3%;
    right: 3%;
}
