#homework{
    padding-bottom: 25px;
}

.homework-wrapper{
    background-color: rgba(0,0,0,0.04);
    height: 130px;
}

.content-date-container{
    display: flex;
    justify-content:space-evenly;
    height:50px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    font-family: 'GimhaeGaya';
}
.homework-content{
    padding: 0 15px 0;
    align-items: center;

    height: 60px;
}

.content-date{
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    font-family: 'GimhaeGaya';
}
.button-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    /*box-shadow: 24px;*/
    padding: 16px;
    outline: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.date-picker-container {
    display: flex;
    justify-content: space-between;
    width:100%;
}

.date-picker-container input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
